<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="my-4">About this app</h1>

      <p class="lead">This app was developed with Angular CLI and the following libraries:</p>
      <ul class="lead">
        <li>bootstrap 4.4.1</li>
        <li>ngx-toastr 11.2.1</li>
        <li>ng-bootstrap 5.1.4</li>
        <li>ngx-progressbar 5.3.2</li>
      </ul>

      <span class="text-muted">Developed by <a href="mailto:armin.zia@gmail.com">Armin Zia</a> &copy; 2019</span>
    </div>
  </div>
</div>