<div class="container">
  <div class="jumbotron my-4">
    <h1 class="display-4">Eurowings Challenge / Angular 8</h1>
    <p class="lead">This app uses the <a href="https://api.imgur.com/">imgur API</a> to load the first page of the gallery. Use the control buttons to filter the results.</p>
  </div>

  <div class="row align-items-start justify-content-start">
    <!-- section parameter -->
    <div class="col-auto">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="gallerySection" [(ngModel)]="section">
        <label ngbButtonLabel class="btn-primary btn-lg">
          <input ngbButton type="radio" value="hot" [disabled]="(store.state$ | async).isLoading" /> HOT
        </label>
        <label ngbButtonLabel class="btn-primary btn-lg">
          <input ngbButton type="radio" value="top" [disabled]="(store.state$ | async).isLoading" /> TOP
        </label>
        <label ngbButtonLabel class="btn-primary btn-lg">
          <input ngbButton type="radio" value="user" [disabled]="(store.state$ | async).isLoading" /> USER
        </label>
      </div>
    </div>
    <!-- sort parameter -->
    <div class="col-auto mt-2 mt-sm-auto mt-md-0">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="gallerySort" [(ngModel)]="sort">
        <label ngbButtonLabel class="btn-info btn-lg">
          <input ngbButton type="radio" value="viral" [disabled]="(store.state$ | async).isLoading" /> viral
        </label>
        <label ngbButtonLabel class="btn-info btn-lg">
          <input ngbButton type="radio" value="top" [disabled]="(store.state$ | async).isLoading" /> top
        </label>
        <label ngbButtonLabel class="btn-info btn-lg">
          <input ngbButton type="radio" value="time" [disabled]="(store.state$ | async).isLoading" /> time
        </label>
        <label ngbButtonLabel class="btn-info btn-lg" *ngIf="section === 'user'">
          <input ngbButton type="radio" value="rising" [disabled]="(store.state$ | async).isLoading" /> rising
        </label>
      </div>
    </div>
    <!-- show virals flag -->
    <div class="col-auto mt-2 mt-sm-2 mt-md-0" *ngIf="section === 'user'">
      <div class="btn-group btn-toggle">
        <label class="btn-info btn-lg" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="showVirals" [disabled]="(store.state$ | async).isLoading"> Show Virals
        </label>
      </div>
    </div>
    <!-- window parameter -->
    <div class="col-auto mt-2 mt-sm-2 mt-md-0" *ngIf="section === 'top'">
      <select class="custom-select custom-select-lg" [(ngModel)]="window" [disabled]="(store.state$ | async).isLoading">
        <option selected value="day">day</option>
        <option value="week">week</option>
        <option value="month">month</option>
        <option value="year">year</option>
        <option value="all">all</option>
      </select>       
    </div>
    <!-- reload button -->
    <div class="col-auto mt-2 mt-sm-2 mt-md-0">
      <button class="btn btn-lg btn-success" (click)="reload()" [disabled]="(store.state$ | async).isLoading">
        <span *ngIf="!(store.state$ | async).isLoading">
          <i class="icon ion-md-refresh"></i> Reload
        </span>
        <span *ngIf="(store.state$ | async).isLoading">
          Loading...
        </span>
      </button>
    </div>
  </div>

  <br>

  <!-- gallery grid -->
  <div class="row" *ngIf="!(store.state$ | async).isLoading">
    <div class="col-md-3 col-sm-4 col-12" *ngFor="let item of (store.state$ | async).items; let i = index">
      <div class="card">
        <img [src]="item.media_url" height="350" *ngIf="item.media_type !== 'video/mp4'" />

        <video controls *ngIf="item.media_type === 'video/mp4'">
          <source [src]="item.media_url" type="video/mp4" />
        </video>

        <div class="card-body">
          <h5 class="card-title">
            <a [routerLink]="['/details/', item.id]">{{ item.title }}</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
