<div class="container">
  <div class="row">
    <div class="col text-center">
      <div class="my-4" *ngIf="itemFound">
        <h1>{{galleryItem.title}}</h1>
        <h3 class="text-muted">{{galleryItem.description}}</h3>
  
        <h4>
          <span>
            <i class="icon ion-ios-thumbs-up"></i> {{galleryItem.ups}}
          </span>
          &nbsp;
          <span>
            <i class="icon ion-ios-thumbs-down"></i> {{galleryItem.downs}}
          </span>
          &nbsp;
          <span>
            <i class="icon ion-ios-stats"></i> {{galleryItem.score}}
          </span>
        </h4>
  
        <hr>
  
        <img [src]="galleryItem.media_url" height="350" *ngIf="galleryItem.media_type !== 'video/mp4'" />
        
        <video controls *ngIf="galleryItem.media_type === 'video/mp4'">
          <source [src]="galleryItem.media_url" type="video/mp4" />
        </video>        
      </div>

      <div class="text-left my-4" *ngIf="!itemFound">
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading">Gallery item not found!</h4>
          <p>Deep linking is not implemented, you can't open gallery items in new tabs.</p>
          <hr>
          <p class="mb-0">Go back to home page and click on item titles to view their details.</p>
        </div>
      </div>
    </div>
  </div>
</div>